.Reviews__slide_active {
  display: block;
  animation: open 0.4s linear;
}

.Reviews__slide_next {
  display: none;  
}

.Reviews__slide_last {
  display: none;
}

@keyframes open {

  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }

}
